:host{

    .menu-title-container{
        color: white;
        width: 100%;

        .container{
            h1{
                margin-top: 15px;
                margin-bottom: 15px;
                font-size: 135px;
                display: flex;
                justify-content: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
    
            hr{
                margin-top: 20px;
                margin-bottom: 5px;
                width: 100%;
            }
        }


    }

    @media screen and (max-width: 1080px) {
        
        .menu-title-container{
            color: white;
            width: 100%;

            .container{
                h1{
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-size: 80px;
                   
                }
    
                hr{
                    margin-top: 15px;
                    margin-bottom: 3px;
                    width: 100%;
                }
            }
            
    
           
    
        }
        
    }

    @media screen and (max-width: 650px) {
        
        .menu-title-container{
            color: white;
            width: 100%;
        
            .container{
                h1{
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-size: 50px;
                    text-align: center;
                   
                }
    
                hr{
                    margin-top: 15px;
                    margin-bottom: 3px;
                    width: 100%;
                }
            }
    
           
    
        }
        
    }

    @media screen and (max-width: 650px) {
        
        .menu-title-container{
            color: white;
            width: 100%;
            
            
            h1{
                
                margin-top: 15px;
                margin-bottom: 15px;
                font-size: 50px;
               
            }

            hr{
                margin-top: 15px;
                margin-bottom: 3px;
                width: 100%;
            }
    
           
    
        }
        
    }
}